<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="book-delete">
        <h2>Book Delete Item</h2>
        <form action="/books/delete" method="POST">
            <label>Enter ID of books that you want to delete</label>
            <input type="text" placeholder="Enter ID of book" name="bo_bookID">
            <button type="submit">Delete</button>
    </div>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>