<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="book-detail">
        <h2>Create Book Data</h2>
        <form action="/books/create" method="POST">
            <label>Auhtor First Name</label>
            <input type="text" placeholder="Enter Auhtor First Name" name="bo_firstnameauthor" required>
            <label>Author Last Name</label>
            <input type="text" placeholder="Enter Author Last Name" name="bo_lastnameauthor" required>
            <label>Title</label>
            <input type="text" placeholder="Enter Title of book" name="bo_title" required>
            <label>availablity</label>
            <input type="text" placeholder="Enter book availablity" name="bo_available" required>
            <button type="submit">Insert</button>
    </div>
    </div>

</body>

</html>