<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .btn:hover {
        color: rgb(255, 255, 255);
        background: black;

    }

    .btn {
        display: block;
        text-align: center;
        font-size: 24px;

        text-decoration: none;
        color: black;
        background: #e9d8a6;
        border-radius: 10px;;

        padding: 10px;
        margin: 20px;
        /* text-decoration: underline; */
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 80, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    }

    body {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 80, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    }

    h2 {
        font-weight: 600;
        font-size: 4rem;
        margin-bottom: 4%;
    }

    .book-delete {
        border: 4px solid black;
        border-radius: 16px;
        padding-top: 2%;
        padding-bottom: 8%;
        padding-right: 1%;
        padding-left: 1%;
        background-color: white;
    }

    div {
        text-align: center;
        margin: 4%;
    }

    .title input {
        margin-left: 20%;
    }

    .availability input {
        margin-left: 12%;
    }

    button {
        padding: 2% 4%;
        font-weight: 600;
        border: none;
        border: 2px solid black;
        background-color: #e9d8a6;
        border-radius: 10px;

    }

    button:hover {
        background-color: #ee9b00;

    }
</style>

<body>

    <div class="book-delete">
        <h2>Book Delete Item</h2>
        <form action="/books/delete" method="POST">
            <div>
                <label>Enter ID of books that you want to delete</label>
                <input type="text" placeholder="Enter ID of book" name="bo_bookID">
            </div>
            <button type="submit">Delete</button>
    </div>
    <a class="btn" href="../books_list">View Data</a>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>