<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="book-update">
        <h2>Update book</h2>
        <form action="/books/edit" method="POST">
            <label>ID</label>
            <input type="text" placeholder="Enter ID of book" name="bo_bookID" required>
            <label>Aurthor First Name</label>
            <input type="text" placeholder="Enter Auhtor First Name" name="bo_firstnameauthor">
            <label>Aurthor Last Name</label>
            <input type="text" placeholder="Enter Author Last Name" name="bo_lastnameauthor">
            <label>Title</label>
            <input type="text" placeholder="Enter Title of book" name="bo_title">
            <label>availablity</label>
            <input type="text" placeholder="Enter book availablity" name="bo_available">

            <button type="submit">Update</button>
    </div>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>