<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="Members-delete">
        <h2>Members Delete Item</h2>
        <form action="/members/delete" method="POST">
            <label>Enter ID of Members that you want to delete</label>
            <input type="text" placeholder="Enter ID of Member" name="mem_memID">
            <button type="submit">Delete</button>
    </div>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>