<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="members-update">
        <h2>members Update</h2>
        <form action="/members/edit" method="POST">
            <label>ID</label>
            <input type="text" placeholder="Enter ID of book" name="mem_memID" required>
            <label>Member First Name</label>
            <input type="text" placeholder="Enter Member First Name" name="mem_firstname">
            <label>Member Last Name</label>
            <input type="text" placeholder="Enter Member Last Name" name="mem_lastname">
            <label>City</label>
            <input type="text" placeholder="Enter City" name="mem_city">
            <label>Locality</label>
            <input type="text" placeholder="Enter Locality" name="mem_locality">
            <label>Joining Date</label>
            <input type="text" placeholder="Enter Joining date" name="mem_date">
            <button type="submit">Update</button>
    </div>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>