<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="members-detail">
        <h2>Create Members Data</h2>
        <form action="/members/create" method="POST">
            <label>Member First Name</label>
            <input type="text" placeholder="Enter Member First Name" name="mem_firstname" required>
            <label>Member Last Name</label>
            <input type="text" placeholder="Enter Member Last Name" name="mem_lastname" required>
            <label>City</label>
            <input type="text" placeholder="Enter City of Member" name="mem_city" required>
            <label>Locality</label>
            <input type="text" placeholder="Enter Locality of Membe" name="mem_locality" required>
            <label>Date</label>
            <input type="date" placeholder="Enter Date of Joining" name="mem_date" required>
            <button type="submit">Insert</button>
    </div>
    </div>

</body>

</html>