<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="publisher-detail">
        <h2>Create Publishers Data</h2>
        <form action="/publishers/create" method="POST">
            <label>Publishers Company Name</label>
            <input type="text" placeholder="Enter Publishers Company Name" name="pub_name" required>
            <label>City</label>
            <input type="text" placeholder="Enter City of Publisher" name="pub_city" required>
            <label>Locality</label>
            <input type="text" placeholder="Enter Locality of Publisher" name="pub_locality" required>
            <button type="submit">Insert</button>
    </div>
    </div>

</body>

</html>