<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="publishers-update">
        <h2>publishers Update</h2>
        <form action="/publishers/edit" method="POST">
            <label>ID</label>
            <input type="text" placeholder="Enter ID of publisher" name="pub_publisherID" required>
            <label>publisher Company Name</label>
            <input type="text" placeholder="Enter publisher Company Name" name="pub_name">
            <label>City</label>
            <input type="text" placeholder="Enter publisher Last Name" name="pub_city">
            <label>Locality</label>
            <input type="text" placeholder="Enter City" name="pub_locality">

            <button type="submit">Update</button>
    </div>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>