<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="Publishers-delete">
        <h2>Publisher Delete Item</h2>
        <form action="/publishers/delete" method="POST">
            <label>Enter ID of publishers that you want to delete</label>
            <input type="text" placeholder="Enter ID of publisher" name="pub_publisherID">
            <button type="submit">Delete</button>
    </div>
    </div>
    <!--====form section start====--><code></code>
</body>

</html>